.pomandoro-timer-clock {
  .ant-input-number {
    border-radius: 0 !important;
    background-color: #1c1917 !important;
  }
  .ant-input-number css-dev-only-do-not-override-6j9yrn {
    background-color: #1c1917 !important;
  }
  .ant-input-number-group-addon {
    color: white !important;
  }
  .ant-input-number-input {
    color: white;
  }
}

.slider-alert {
  .ant-slider-rail {
    background-color: #292524 !important;
  }
}
