.ant-menu {
  position: relative;
  top: 20px;
  left: 20px;
}
.anticon {
  font-size: 20px !important;
  margin-top: 5px;
}
.ant-menu-item {
  flex-direction: column;
  height: 60px !important;
  width: 80px;
  margin-inline-start: 4px !important;
  padding: 0 10px !important;
}
.ant-menu-title-content {
  margin-inline-start: 0px !important;
}
